.SongEditDialog {
    padding: var(--space-2xl);
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
    min-width: 400px;
    position: relative;
}

.CloseButton {
    position: absolute;
    top: 12px;
    right: 12px;
}

.Header {
    display: flex;
    align-items: center;
    gap: var(--space-md);

    .BackButton {
        width: 1em;
        height: 1em;
    }
}

.PathContainer {
    font-size: var(--font-size-sm);
    color: var(--secondary-fg-color);
    word-break: break-all;
    margin-bottom: var(--space-sm);
}

.Form {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}

.Chips {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-sm);
    margin-top: var(--space-sm);
}

.Footer {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}
