.VolumeControlContainer {
  width: 100%;
  height: 100%;

  padding: 0.25em;

  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.VolumeControl {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.VolumeControl {
  .Display {
    width: 100%;
    height: 100%;

    top: 0;
    position: absolute;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background 0.5s ease;

    .InnerRadius {
      width: 70%;
      height: 70%;
      border-radius: 50%;

      background: white;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .Display:hover {
    cursor: pointer;
  }
}


.VolumeControl {
  .SliderWrapper {
    position: relative;
    bottom: 150%;
    height: 200%;
    width: 50%;
    background: var(--disabled-fg-color);
    border-radius: 4px;
    overflow: hidden;

    .SoundLevel {
      width: 100%;
      position: absolute;
      bottom: 0;
      background: var(--accent-fg-color);
    }

    .SoundLevel.isMuted {
      background: var(--disabled-fg-color);
    }

    .SoundLine {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background: var(--accent-fg-color);
      pointer-events: none
    }
  }

  .SliderWrapper:hover {
    cursor: pointer;
  }
}


