.ChipContainer {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xs);
}

.Clickable {
    cursor: pointer;
}

.Clickable:hover .Chip {
    background-color: var(--secondary-bg-color);
}

.Chip {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-xs) var(--space-md);
    min-width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: var(--secondary-bg-color);
    color: var(--main-fg-color);
    font-size: var(--font-size-base);
    font-weight: 500;
    box-sizing: border-box;
}

.Label {
    font-size: var(--font-size-xs);
    color: var(--secondary-fg-color);
    text-transform: lowercase;
}
