.MainLayoutContainer {
    display: flex;
    flex-direction: column-reverse;

    .Header {
        position: fixed;
        top: 0;
        width: 100vw;
        height: var(--header-height);
    }


    .Player {
        position: fixed;
        bottom: var(--player-bottom);
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
