.CarouselContainer {
    overflow-x: auto;
    overflow-y: hidden;
    display: block;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-padding-inline: 25%;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

.CarouselContainer::-webkit-scrollbar {
    display: none;
}

.CarouselTrack {
    display: flex;
    gap: 24px;
    padding: 16px 0;
    position: relative;
}

.CarouselTrack::before,
.CarouselTrack::after {
    content: "";
    flex: 0 0 25%; /* match scroll-padding-inline */
}

.CarouselItem {
    flex: 0 0 auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.CarouselItemContent {
    display: inline-flex; /* scale only this */
    justify-content: center;
    align-items: center;
    transform-origin: center center;
}

.CarouselItemContent * {
    pointer-events: none;
}

.CarouselItemContent.centered * {
    pointer-events: auto;
}

.CarouselItemContent:not(.centered) {
    cursor: pointer;
}
