.InitPage {
    padding-top: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Player {
    display: flex;

    width: 4em;
    height: 4em;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: #B3005E;
    border-radius: 6em;

    transition: all 0.3s ease-in-out;

    position: relative;

    overflow: hidden;
}

.Player.open {
    /*4 for logo, 1 for gap 8 for controls*/
    width: 13em;
}

.Logo {
    max-width: 4em;
    max-height: 4em;
    animation: logoRotatingAnim 10s linear infinite;
    animation-play-state: paused;
    flex: 1;

    position: absolute;
    left: 0;
}

.Logo:hover {
    cursor: pointer;
}

@keyframes logoRotatingAnim {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Logo.playing {
    animation-play-state: running;
}

.PlayerControls {
    margin-right: 0.5em;
    overflow: hidden;
    opacity: 0;
    display: none;

    position: absolute;
    right: 0;
}

.PlayerControls.open {
    opacity: 100%;
    display: flex;
}


.WorkInProgressHeader {
    font-size: 2em;
    font-weight: bold;
    background: linear-gradient(270deg, #D9007F, #00d95a);
    background-size: 600% 600%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: workInProgressAnim 5s ease infinite;
}

@keyframes workInProgressAnim {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

