.InitPage {
    padding-top: 25vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100%;
    gap: 1em;
}

.WorkInProgressHeader {
    font-size: 2em;
    font-weight: bold;
    background: linear-gradient(270deg, var(--main-fg-color), #00d95a);
    background-size: 600% 600%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: workInProgressAnim 5s ease infinite;
}

@keyframes workInProgressAnim {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

