.Header {
    width: 100%;
    height: 8vh;
    background: var(--secondary-bg-color);

    display: flex;
    justify-content: space-between;

}

.LogoContainer {
    display: flex;
    justify-content: start;
    padding: 0.25em 0.25em 0.25em 0.5em;
    align-items: center;
}

.Logo {
    width: 5vh;
    height: 100%;
}

.Logo:hover {
    cursor: pointer;
}

.SearchContainer {
    flex: 2;
}

.UserContainer {
    width: 20vh;
    height: 100%;
}
