.BackButtonContainer {
    background: rgb(0 0 0 / 35%);
    border: none;
    border-radius: var(--border-radius-circle);
    padding: 0.5rem;
    cursor: pointer;
    color: var(--color-fg-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.15s ease, color 0.15s ease;
}

.BackButtonContainer:hover {
    background: rgb(0 0 0 / 50%);
}
