.CachedIndicatorContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  width: var(--icon-circle-sm);
  height: var(--icon-circle-sm);
  border-radius: 50%;
  background: var(--color-success);
  color: var(--color-fg-white);

  svg {
    width: 60%;
    height: 60%;
  }
}
