.InputField {
    background: var(--secondary-bg-color);
    color: var(--main-fg-color);
    border: 1px solid var(--element-border-color);
    border-radius: 1em;
    transition: border-color 0.2s;
}

.InputField:focus {
    border-color: var(--element-border-color-lighter);
}

.Borderless {
    border: none;
}

.Hint {
    cursor: help;
}
