ENVIRONMENT_CORS_ALLOWED_ORIGINS=*
ENVIRONMENT_DEBUG_AUTH=false
ENVIRONMENT_DEV_MODE=false
ENVIRONMENT_ENABLE_HEALTH_PROBES=false
ENVIRONMENT_LOCAL_STORAGE_PATH=/data
ENVIRONMENT_LOG_FORMAT=TEXT
ENVIRONMENT_LOG_LEVEL=Info
ENVIRONMENT_OTEL_ENDPOINT=
ENVIRONMENT_PUBLIC_BASE_URL=
ENVIRONMENT_TELEGRAM_CLIENT_ID=
ENVIRONMENT_TELEGRAM_NOTIFICATIONS_CHAT_ID=0
ENVIRONMENT_TELEGRAM_PROXY_URL=
ENVIRONMENT_TELEGRAM_TOKEN=
ENVIRONMENT_TORRENT_DOWNLOAD_DIR=/data/torrents
ENVIRONMENT_TORRENT_LISTEN_PORT=42069
ENVIRONMENT_TORRENT_MAX_CONCURRENT_DOWNLOADS=3
ENVIRONMENT_TORRENT_SEED_AFTER_COMPLETE=false
ENVIRONMENT_TORRENT_SEED_TIME_LIMIT_MINUTES=0
ENVIRONMENT_TORRENT_SYNC_PERIOD_SECONDS=3
DATA_SOURCES_POSTGRES_MIGRATIONS_FOLDER=./migrations
DATA_SOURCES_POSTGRES_HOST=localhost
DATA_SOURCES_POSTGRES_PORT=5432
DATA_SOURCES_POSTGRES_USER=zpotify
DATA_SOURCES_POSTGRES_PWD=
DATA_SOURCES_POSTGRES_DB_NAME=zpotify
DATA_SOURCES_POSTGRES_SSL_MODE=
DATA_SOURCES_POSTGRES_SCHEMA=
DATA_SOURCES_POSTGRES_ADMIN_USER=
DATA_SOURCES_POSTGRES_ADMIN_PWD=
SERVERS_MASTER_PORT=80
