ENVIRONMENT_CORS-ALLOWED-ORIGINS_TYPE=string
ENVIRONMENT_DEBUG-AUTH_TYPE=bool
ENVIRONMENT_LOCAL-STORAGE-PATH_TYPE=string
ENVIRONMENT_LOG-FORMAT_TYPE=string
ENVIRONMENT_LOG-FORMAT_ENUM=[JSON,TEXT]
ENVIRONMENT_LOG-LEVEL_TYPE=string
ENVIRONMENT_LOG-LEVEL_ENUM=[Trace,Debug,Info,Warn,Error,Fatal,Panic]
ENVIRONMENT_TELEGRAM-CLIENT-ID_TYPE=string
DATA_SOURCES_POSTGRES_MIGRATIONS-FOLDER=./migrations
DATA_SOURCES_POSTGRES_HOST=localhost
DATA_SOURCES_POSTGRES_PORT=5432
DATA_SOURCES_POSTGRES_USER=zpotify
DATA_SOURCES_POSTGRES_PWD=
DATA_SOURCES_POSTGRES_DB-NAME=zpotify
DATA_SOURCES_POSTGRES_SSL-MODE=
SERVERS_MASTER_PORT=80
SERVERS_MASTER_/{GRPC}_MODULE=go.zpotify.ru/zpotify
SERVERS_MASTER_/{GRPC}_GATEWAY=/api
