ENVIRONMENT_CORS_ALLOWED_ORIGINS=*
ENVIRONMENT_DEBUG_AUTH=false
ENVIRONMENT_LOCAL_STORAGE_PATH=/data
ENVIRONMENT_LOG_FORMAT=TEXT
ENVIRONMENT_LOG_LEVEL=Info
ENVIRONMENT_OTEL_ENDPOINT=
ENVIRONMENT_TELEGRAM_CLIENT_ID=
ENVIRONMENT_TELEGRAM_PROXY_URL=
ENVIRONMENT_TELEGRAM_TOKEN=
DATA_SOURCES_POSTGRES_MIGRATIONS_FOLDER=./migrations
DATA_SOURCES_POSTGRES_HOST=localhost
DATA_SOURCES_POSTGRES_PORT=5432
DATA_SOURCES_POSTGRES_USER=zpotify
DATA_SOURCES_POSTGRES_PWD=
DATA_SOURCES_POSTGRES_DB_NAME=zpotify
DATA_SOURCES_POSTGRES_SSL_MODE=
SERVERS_MASTER_PORT=80
