.InfiniteSongsListContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1em;

    width: 100%;

    &.scrollable {
        overflow-y: scroll;
    }
}
