.SongListWidgetContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

    box-sizing: border-box;
}

.Song {
    width: 100%;
    max-width: 60vh;
    height: 4em;

    display: flex;
    flex-direction: row;
}

