.SongListWidget {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.Song {
    width: 100%;
    max-width: 60vh;
    height: 4em;
}
