.Player {
    display: flex;

    width: 4em;
    height: 4em;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease-in-out;

    background: #B3005E;
    border-radius: 6em;

    position: relative;
}

.Player.open {
    /*4 for logo, 1 for gap 8 for controls, 4.25 for volume*/
    width: 15.5em;
}

.Logo {
    width: 4em;
    height: 4em;
    animation: logoPulsing 2s linear infinite;
    flex: 1;

    position: absolute;
    left: 0;
    background: var(--main-fg-color);
    border-radius: 16em;
}

.Logo.playing {
    animation: logoRotatingAnim 10s linear infinite;
}

.Logo:hover {
    cursor: pointer;
}

@keyframes logoPulsing {
    0% {
        box-shadow: 0 0 0 0 rgba(217, 0, 127, 0.7);
    }
    70% {
        box-shadow: 0 0 0 15px rgba(217, 0, 127, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(217, 0, 127, 0);
    }
}

@keyframes logoRotatingAnim {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.PlayerControls {
    margin-right: 0.5em;
    opacity: 0;
    display: none;

    position: absolute;
    right: 0;
}

.PlayerControls.open {
    opacity: 100%;
    display: flex;
}


.VolumeControlWrapper {
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}
