.SliderWrapper {
  position: relative;
  bottom: 150%;
  height: 200%;
  width: 50%;
  background: var(--disabled-fg-color);
  border-radius: 4px;
  overflow: hidden;
}

.SliderWrapper:hover {
  cursor: pointer;
}

.SoundLevel {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: var(--accent-fg-color);
}

.SoundLevel.isMuted {
  background: var(--disabled-fg-color);
}

.SoundLine {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: var(--accent-fg-color);
  pointer-events: none
}
