.InfiniteSongsListContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    width: 100%;
    height: 100%;

    background: var(--main-bg-color);

    &.scrollable {
        overflow-y: scroll;
    }
}
