.SongItem {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    border-radius: 1em;
    border-bottom: 1px var(--disabled-fg-color) solid;

    padding: 0.5em 0.25em 0.25em 0.5em;

    transition: all 0.125s ease-in-out;
}

.SongItem.isPlaying {
    border-bottom-color: var(--accent-fg-color);
}

.SongItem.isSelected {
    background: var(--accent-bg-color);
}

.SongItem:hover {
    scale: 1.1;
    cursor: pointer;
}

.Titles {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.Title {
    font-weight: bolder;
    font-size: large;
    color: var(--main-fg-color);
}

.Tittle.isSelected {
    color: var(--accent-fg-color);
}

.Artists {
    font-weight: lighter;
    font-size: small;
    color: var(--secondary-fg-color);
}

.Duration {
    font-weight: bolder;
    color: var(--main-fg-color);
}


