.HomePage {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ContentArea {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.Empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--color-fg-tertiary);
    font-size: var(--font-size-base);
}

.Player {
    position: fixed;
    bottom: var(--player-bottom);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
