.PlayPauseWrapper {
  width: 2.75em;
  height: 2.75em;
  box-sizing: border-box;

  border-radius: 5px;

  position: relative;

  transition: all 0.25s ease;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  &.Disabled:hover {
    cursor: not-allowed;
    transform: scale(1);
  }
}

.Stick {
  width: 10%;
  height: 82%;
  box-sizing: border-box;
  position: absolute;
  top: 10%;
  left: 20%;
  background-color: black;
  transition: all 0.125s ease;
  border-radius: 15px;

  &.Disabled {
    background-color: gray;
  }
}

.Stick1, .Stick2, .Stick3 {
  left: 10%;
}

.Stick1.Active {
  left: 70%;
}

.Stick2 {
  transform-origin: top left;
  transform: translateY(8%) rotate(-62.5deg);
  height: 89%;

  &.Active {
    transform: rotate(0deg);
    height: 82%;
    left: 20%;
  }
}

.Stick3 {
  transform-origin: bottom left;
  transform: translateY(-14%) translateX(-8%) rotate(62.5deg);
  height: 89%;

  &.Active {
    transform: rotate(0deg);
    height: 82%;
    left: 20%;
  }
}

.InnerTriangleWrapper {
  width: 100%;
  height: 100%;

  overflow: hidden;
  position: absolute;
}

.InnerTriangle {
  width: 0;
  height: 0;

  position: absolute;
  top: 12%;
  left: 17%;

  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-left: 2em solid black;
  transition: all 0.25s ease;

  &.Disabled {
    border-left: 2em solid gray;
  }

  &.Active {
    transform: translateX(-100%) scale(0);
    opacity: 0;
  }
}

