.TrackProgressControlsContainer {
    width: 100%;
    height: 100%;

    .TrackLine {
        width: 100%;
        height: 100%;
        background: rgba(217, 0, 127, 0.2);
        border-radius: 4px;
        position: relative;
        cursor: pointer;

        .TrackFill {
            height: 100%;
            background: #d9007f;
            border-radius: 4px;
            transition: width 0.5s linear;
            pointer-events: none;
        }

        .TrackBall {
            display: none;
        }
    }
}
