.HomePage {

}

.Header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 6vh;
}

.MainBody {
    margin-top: 5vh;
}

.Player {
    position: fixed;
    bottom: 5vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}
