.HomePage {

}

.Header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 6vh;
}

.MainBody {
    margin: 8vh 0 16vh 0;
    display: flex;
    flex-direction: row;
    justify-content: center;

    position: relative;

    gap: 3em;

    .Section {
        padding: 1em;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;

        min-width: 45vw;
        min-height: 100vh;

        border: var(--accent-bg-color)  solid 1px;
        border-radius: 1em;
        background: var(--main-bg-color);

        .Tittle {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}

.Player {
    position: fixed;
    bottom: 7vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}
