.HomePage {
    padding-top: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.WorkInProgressHeader {
    animation: workInProgressAnim 4s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
}

@keyframes workInProgressAnim {
    0% {
        background-position: 0 50%;
        color: black;
    }
    50% {
        background-position: 100% 50%;
        color: white;
    }
    100% {
        background-position: 0 50%;
        color: black;
    }
}
